.logo {
  width: 40px;
  height: 40px;
  float: right;
  display: flex;
  border-radius: 10px;
  display: block;
  margin: auto;

}
.transparent-background {


  background-color: transparent;
}
ion-toolbar {
  --background: #0a5aa18a;
  color: #0b0a0a;
  text-align: center;

}


ion-content {
  --background: url("../../assets/image/dibujo.jpg");
  
}
.validation-erros{
  
  color: rgb(2, 68, 48); 
  font-size: 20px; 
  margin-top: 5px; 
}
.custom-toast {
  --background: #0b4d5f; 
  color: #ffffff; 
}









