<ion-header>
  <ion-toolbar color="success">

    <ion-title>Login app ✔ <img class="logo" src="../../assets/image/logo-removebg-preview.png" alt=""  ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-input label="Email 📧" labelPlacement="floating" placeholder="name@example.com"
        formControlName="email"></ion-input>
    </ion-item>

    <div class="validation-erros">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="(
        loginForm.get('email')?.hasError(validation.type) && 
        loginForm.get('email')?.dirty) 
      ">
          {{validation.message}}
        </div>

      </ng-container>
    </div>

    <ion-item>
      <ion-input type="password" label="Contraseña 🔑" labelPlacement="floating" placeholder="*****"
        formControlName="password"></ion-input>
        <ion-icon name="eye" color="gray" item-end></ion-icon>
    </ion-item>
    <ion-button expand="full" shape="round" color="secondary" [disabled]="!loginForm.valid" type="submit">

      ingresar


    </ion-button>
  </form>
</ion-content>