.logo {
  width: 40px;
  height: 40px;
  float: right;
  display: flex;
  border-radius: 10px;
  display: block;
  margin: auto;

}
.transparent-background {


  background-color: transparent;
}


ion-content {
  --background: url("../../assets/image/fondoss.jpg");
  
}
.validation-erros{
  
  color: rgb(7, 233, 203); /* Color del texto del mensaje de error */
  font-size: 12px; /* Tamaño de fuente del mensaje de error */
  margin-top: 5px; /* Espaciado superior del mensaje de error */
}/* Estilos personalizados para el toast */
.custom-toast {
  --background: #007bff; /* Cambia el color de fondo del toast a azul (#007bff) */
  color: #ffffff; /* Cambia el color del texto del toast a blanco */
}









