.logo {
  width: 40px;
  height: 40px;
  float: right;
  display: flex;
  border-radius: 10px;
  display: block;
  margin: auto;

}


ion-content {
  --background: url("https://i.pinimg.com/originals/6c/4c/ea/6c4cea8f06fc8c679e0ab10d8811d72a.gif");


}