.slide-icon {
    font-size: 50px;
    color: #fa665280;
  }
  .my-favorite-text-color {
    color: var(--color-primario);
  }
 

  img{
    width: 300px;
  }

  ion-card{

    color: var(--color-segundario);
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-primario);

    --background:rgba(1, 3, 131, 0.452);
  }

  h1{
    color: var(--ion-color-primary);
    font-family: '--color-segundario', Courier, monospace;
    color: var(--color-primario);
    font-size : var(--tama);
   color: var();
  }
  
  p{
    font-size: var(--my-favorite-font-size);
    color: var(--color-primario);

  }
  
  ion-content{
    --background:rgba(0, 204, 255, 0.452);
  
  }

  .close-icon{
    font-size: 40px;
    color: black;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 100;
    right: 0;
    position: absolute;
  }