.slide-icon {
    font-size: 50px;
    color: #52b7fa80;
  }
  .my-favorite-text-color {
    color: var(--color-primario);
  }
 

  img{
    width: 300px;
  }
  
  h1{
    color: var(--ion-color-primary);
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-primario);
    font-size : var(--tama);
  }
  
  p{
    font-size: var(--my-favorite-font-size);
    color: var(--color-primario);

  }
  
  ion-content{
    --background:rgba(0, 174, 255, 0.685);
  
  }

  .close-icon{
    font-size: 40px;
    color: black;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 100;
    right: 0;
    position: absolute;
  }