<ion-header>
</ion-header>

<ion-content>
  <ion-icon name="close" class="close-icon" (click)='finish()'></ion-icon>
  <swiper-container 
  [initialSlide]="1"
  [slidesPerView]="1"
  [speed]="400"
  >

    <swiper-slide *ngFor="let slide of slides">
      <h1 class="my-favorite-text-color">{{slide.title}}</h1>
      <img src="{{slide.img}}"/> <br>
      <ion-icon name="slide-icon" name="{{slide.icon}}"></ion-icon>
      <p>"{{slide.description}}"</p>
      <ion-card>
        <ion-item>
          
          <ion-avatar slot="start">
            <img alt="" src="https://i.pinimg.com/736x/49/c8/e4/49c8e403cd1929e9e7b02126824ff831.jpg" />
          </ion-avatar>
          <ion-label ><h3>noticias</h3></ion-label><br>
          <h3 class="reseña">reseña</h3><br>
        </ion-item>
        <ion-card-header>
          <h2>Artista dominado en Music Awards</h2>
      
          
        </ion-card-header>
      
        <ion-card-content>
          <p>
            Cada artista ha sido seleccionado como unos de los mejores durante el año 2023, como de la mejores vos,interpretacion e integracion de cada una de la bandas  
          </p>
         
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  

  </swiper-container>
</ion-content>