.slide-icon {
  font-size: 50px;
  color: #011363;
}

.my-favorite-text-color {
  color: var(--color-primario);
}


img {
  display:block;
  margin:auto;
}

h3 {
  text-align: center;
}

ion-avatar {
  color: var(--color-segundario);
  font-family: 'arial';
  color: var(--color-primario);
  border: var(bordes);
}


ion-card {

  color: var(--color-segundario);
  font-family: 'Arial New';
  color: var(--color-primario);
  font-size: 30px;
  --background: rgba(116, 128, 133, 0.315);
}
h2{
  color: var(--color-cuarto);
  font-family: 'Arial New';
  font-size: 30px;
  text-align: left;
}
h3{
  color: var(--color-segundario);
  font-family: 'Arial New';
  font-size: 30px;
  text-align: left;
}
.reseña
{
  color: var(--color-terciario);
  font-family: 'Arial New';
  font-size: 30px;
}
p{
  color: var(--color-terciario);
  font-family: 'Arial New';
font-size: 30px;
}

h1 {
  text-align: center;
  background-color: rgba(2, 74, 116, 0.452);
  color: var(--ion-color-primary);
  font-family: '--color-segundario', Arial, Helvetica, sans-serif;
  color: var(--color-primario);
  font-size: var(--tama);

}

.ionicon-fill-none {
  align-items: center;
}

p {
  font-size: var(--my-favorite-font-size);
  color: var(--color-primario);

}

ion-content {
  --background: url("../../assets/image/dibujo.jpg");


}

.close-icon {
  font-size: 30px;
  color: rgb(238, 8, 8);
  margin-right: 20px;
  margin-top: 20px;
  z-index: 100;
  right: 0;
  position: absolute;
}