ion-content {
  --background: url("https://img.freepik.com/fotos-premium/retrato-belleza-creativa-usando-audifonos-elegantes-amante-musica-moda_158863-5981.jpg")no-repeat center center/cover;


}

ion-toolbar {
  --background: #0e87b765;
  color: #0b0a0a;
  text-align: center;

}

ion-item {
  margin-bottom: 15px;
}

.validation-erros {
  color: rgb(248, 244, 244);
  font-size: 15px;
  margin-top: 5px;
  font-family: Arial;
}

ion-list {
  transform: translateY(3vh);
  background: transparent;
  ion-item {
      --background: transparent; 
      ion-label {
          font-weight: bold;
          font-size: 1.5em;
          color: #0b0a0a;
      }           
      ion-input {
          font-size: 1.3em;
          font-family: 'Times New Roman';
          color: #fffafa;
      }
  }
}

ion-row {
  margin: 6vh;
  color: aliceblue;
  ion-label,
  
  p {
    color: aliceblue;
    text-align: center;
    font-size: 1.8rem;
    color: var(--ion-color-white);
  }

 
}