<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">

  </ion-header>

  <ion-content>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/Login" color="white"> ATRAS</ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-row>
      <ion-label>
        registrate
        <p>Crea tu perfil y disfruta nuestra plataforma</p>
      </ion-label>
    </ion-row>
    <ion-list class="ion-padding-horizontal ion-margin-horizontal">
      <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">


        <ion-item>
          <ion-input color="white" labelPlacement="floating" placeholder="name@example.com" type="text" label="correo"
            formControlName="email"></ion-input>

        </ion-item>

        <div class="validation-erros">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div *ngIf="(
          registerForm.get('email')?.hasError(validation.type) && 
          registerForm.get('email')?.dirty) 
        ">
              {{validation.message}}
            </div>

          </ng-container>
        </div>

        <ion-item>

          <ion-input color="white" labelPlacement="floating" placeholder="name@example.com" type="password"
            label="Password" formControlName="password" placeholder="*******"></ion-input>



        </ion-item>
        <div class="validation-erros">
          <ng-container *ngFor="let validation of validation_messagespassword.password">
            <div *ngIf="(
          registerForm.get('password')?.hasError(validation.type) && 
          registerForm.get('password')?.dirty) 
        ">
              {{validation.message}}
            </div>

          </ng-container>
        </div>



        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating" placeholder="Nombre" formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-erros">
          <ng-container *ngFor="let validation of validation_messagesname.name">
            <div *ngIf="(
          registerForm.get('name')?.hasError(validation.type) && 
          registerForm.get('name')?.dirty) 
        ">
              {{validation.message}}
            </div>

          </ng-container>
        </div>

        <ion-item>
          <ion-input label="Segundo apellido" labelPlacement="floating" placeholder="Apellido"
            formControlName="last_name"></ion-input>
        </ion-item>
        <div class="validation-erros">
          <ng-container *ngFor="let validation of validation_messageslast_name.last_name">
            <div *ngIf="(
          registerForm.get('last_name')?.hasError(validation.type) && 
          registerForm.get('last_name')?.dirty) 
        ">
              {{validation.message}}
            </div>

          </ng-container>
        </div>


        <ion-button class="registro" color="secondary" expand="full" shape="round" type="submit"
          [disabled]="!registerForm.valid">
          Registrarse
        </ion-button>

      </form>
    </ion-list>
  </ion-content>

</ion-content>