ion-content {
  --background: url("../../assets/image/dibujo.jpg");

  background-color: rgba(4, 156, 156, 0.445);
}

ion-toolbar {
  --background: #0e87b765;
  color: #0b0a0a;
  text-align: center;

}
ion-item {
  margin-bottom: 15px;
}
.validation-erros {
  color: red;
  font-size: 20px;
  margin-top: 5px;
  font-family: Arial;
}
 ion-input {
    background-color: transparent; /* Cambia el color a tu preferencia */
  }

